[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
django-money = "*"
djangorestframework = "*"
djangorestframework-simplejwt = "*"
django-cors-headers = "*"
djoser = "*"
steam = "*"
shark-core-premium-account-bonus = {editable = true,path = "./premium_account_bonus"}

[requires]
python_version = "3.8"
