[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
django-money = "*"
djangorestframework = "*"
django-cors-headers = "*"
steam = "*"
pip = "*"
djangorestframework-simplejwt = "*"
gunicorn = "*"
drf-yasg = "*"
django-oauth-toolkit = "*"
django-heroku = "*"

[requires]
python_version = "3.8"
