[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
django-money = "*"
djangorestframework = "*"
django-cors-headers = "*"
steam = "*"
pip = "*"
djangorestframework-simplejwt = "*"
gunicorn = "*"
django-allauth = "*"
django-rest-auth = "*"
django-rest-framework-social-oauth2 = "*"
oauth2-provider = "*"
social-auth-app-django = "*"
djangorestframework-api-key = "*"
drf-yasg = "*"

[requires]
python_version = "3.8"
