-i https://pypi.org/simple
asgiref==3.2.3
certifi==2019.11.28
cffi==1.13.2
chardet==3.0.4
cryptography==2.8
django-cors-headers==3.2.1
django-jwt-auth==0.0.2
django-money==1.0
django-templated-mail==1.1.1
django==3.0.2
djangorestframework-simplejwt==4.4.0
djangorestframework==3.11.0
djoser==2.0.3
gevent-eventemitter==2.1
gevent==1.4.0
greenlet==0.4.15 ; platform_python_implementation == 'CPython'
idna==2.8
protobuf==3.11.2
py-moneyed==0.8.0
pycparser==2.19
pyjwt==1.7.1
pytz==2019.3
requests==2.22.0
six==1.14.0
sqlparse==0.3.0
steam==0.9.1
urllib3==1.25.7
vdf==3.2
