{% extends 'base.html' %}
{% load djmoney %}
{% block body %}
<div class="container-padding">
    <div class="d-flex flex-row">
        <div class="p-2">
            <h5>Kategorie: </h5>
        </div>
    </div>
    <div class="d-flex flex-row">
        <div class="p-1 w-25">
            <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical"></div>
        </div>
        <div class="p-2 flex-fill">
            <div class="tab-content" id="v-pills-tabContent">
                <h5>Wybierz kategorie</h5>>
            </div>
        </div>
{% endblock body %}
{% block js %}
        <script>
            function get_data(url) {
                base_url = 'http://localhost:8000/api/'
                return fetch(base_url + url)
                    .then(response => {
                        return response.json();
                    });
            }

            let categories = []
            get_data('store/categories/').then(response => {
                categories.push(response.results)
                let nav_html = ''

                let tab_html = '<h1 id="choice-category">Wybierz kategorie</h1>'
                categories[0].forEach((category_item, category_index) => {
                    let nav_active = ''
                    let nav_selected = false
                    let nav_show = ''
                    if (category_index == 0) {
                        nav_active = 'active'
                        nav_selected = true
                        nav_show = 'active show'
                    }

                    nav_html += `
                            <a 
                                class="nav-link" 
                                id="${category_item.tag}-tab" 
                                data-toggle="pill"
                                data-category="${category_item.pk}"
                                href="#${category_item.tag}" 
                                role="tab" 
                                aria-controls="${category_item.tag}" 
                                aria-selected="">${category_item.name}
                            </a>`

                    tab_html +=
                        `<div class="tab-pane fade" id="${category_item.tag}" role="tabpanel" aria-labelledby="${category_item.tag}-tab"><div class="bonuses"></div></div>`

                })
                

                nav_html += `
                            <a 
                                class="nav-link" 
                                id="all-tab" 
                                data-toggle="pill"
                                data-category="-1"
                                href="#all" 
                                role="tab" 
                                aria-controls="all" 
                                aria-selected="">all
                            </a>`

                tab_html +=
                        `<div class="tab-pane fade" id="all" role="tabpanel" aria-labelledby="all-tab"><div class="bonuses"></div></div>`

                $('#v-pills-tab').html(nav_html)
                $('#v-pills-tabContent').html(tab_html)

                $('#v-pills-tab a').on('show.bs.tab', function (e) {
                    $('#choice-category').hide()
                    let category_number_id = e.target.id
                    let category_string_id = e.target.dataset.category
                    let split_category_id = category_number_id.split('-')

                    let bonuses = []
                    get_data(`store/bonuses?category=${category_string_id}`).then(response => {

                        bonuses.push(response.results)
                        let bonuses_html = ''
                        bonuses_html += '<div class="d-flex flex-row">'
                        if (bonuses[0].length > 0) {
                            bonuses[0].forEach((bonus_item, bonus_index) => {
                                bonuses_html += `
                                    <div class="p-2 w-50">
                                        <div class="card bonus-card h-100">
                                            <div class="card-header sign-in-card">
                                                ${bonus_item.name}
                                            </div>
                                            <div class="card-body">
                                                ${bonus_item.description}
                                            </div>
                                        </div>
                                    </div>
                                `
                            }) 
                        } else {
                            bonuses_html += '<h1>Brak bonusow</h1>'
                        }
                        bonuses_html += '</div>'
                        $(`#v-pills-tabContent #${split_category_id} .bonuses`).html(bonuses_html)
                    })

                })
            })
        </script>
{% endblock js %}