<div class="tab-pane fade" id="additional" role="tabpanel" aria-labelledby="additional-tab">
    <h1>Additional Info</h1>
    <div class="d-flex flex-row">
        <div class="p">
            <ul class="list-group list-group-flush">
                <li class="list-group-item bg-dark">First name: </li>
                <li class="list-group-item bg-dark">Last name: </li>
            </ul>
        </div>
        <div class="p flex-fill">
            <ul class="list-group list-group-flush">
                <li class="list-group-item bg-dark">{{ request.user.first_name }} brak</li>
                <li class="list-group-item bg-dark">{{ request.user.last_name }}brak</li>
            </ul>
        </div>
    </div>
</div>