{% extends 'base.html' %}
{% block body %}
<div class="container-padding">
    <div class="d-flex flex-row justify-content-center">
        <div class="p-2">
            <h1>Sign in</h1>
        </div>
    </div>
    <div class="d-flex flex-row justify-content-center">
        <div class="w-50 p-1">
            <div class="card sign-in-card">
                <div class="card-body">
                    <form method="post" id="sign-in-form">
                        {% csrf_token %}

                        {% if form.non_field_errors %}
                        <div class="alert alert-danger" role="alert">
                            <ul>
                                {% for error in form.non_field_errors %}
                                <li>{{ error|escape }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                        {% endif %}
                        <div class="form-group">
                            {% if form.username.errors %}

                            <div class="alert alert-danger" role="alert">
                                <ul>
                                    {% for error in form.username.error %}
                                    <li>{{ error|escape }}</li>
                                    {% endfor %}
                                </ul>
                            </div>

                            {% endif %}
                            <label for="{{ form.username.id_for_label }}">Username: </label>
                            {{ form.username }}
                        </div>
                        <div class="form-group">
                            {% if form.password.errors %}

                            <div class="alert alert-danger" role="alert">
                                <ul>
                                    {% for error in form.password.error %}
                                    <li>{{ error|escape }}</li>
                                    {% endfor %}
                                </ul>
                            </div>

                            {% endif %}
                            <label for="{{ form.password.id_for_label }}">Password: </label>
                            {{ form.password }}
                        </div>
                        <button type="submit" class="btn btn-success" id="sign-in-btn">Sign in</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    const signInForm = document.getElementById('sign-in-form')
    const signInBtn = document.getElementById('sign-in-btn')

    signInForm.addEventListener('submit', (e) => {
        signInBtn.setAttribute('disabled', 1)

        setTimeout(() => {
            signInBtn.removeAttribute('disabled')
        }, 1000)
    })
</script>
{% endblock body %}