<div class="tab-pane fade show active" id="general" role="tabpanel" aria-labelledby="general-tab">
    <h1>General Info</h1>
    <div class="d-flex flex-row">
        <div class="p">
            <ul class="list-group list-group-flush">
                <li class="list-group-item bg-dark">Username: </li>
                <li class="list-group-item bg-dark">Email: </li>
                <li class="list-group-item bg-dark">Group: </li>
            </ul>
        </div>
        <div class="p flex-fill">
            <ul class="list-group list-group-flush">
                <li class="list-group-item bg-dark">{{ request.user.username }}</li>
                <li class="list-group-item bg-dark">{{ request.user.email }}</li>
                <li class="list-group-item bg-dark">{{ request.user.display_group.name }}</li>
            </ul>
        </div>
    </div>
</div>