body {
  /*background: #1a1a1b;*/
  background: #23272a;
  color: #ecf0f1;
  margin: 0;
  padding: 0;
  font-family: 'Arial', serif
}

.navbar-bg {
  /*background: #222;*/
  background: #2c2f33;
}

.footer {
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  /*background: #222;*/
  background: #2c2f33;
  padding: 25px;
}

.wrapper {
  margin-top: 50px;
  margin-bottom: 100px;

}

.card-bg {
  background: #2c2f33;
  margin-bottom: 25px;
}

.jumbotron-bg {
  /*background: #222;*/
  background: #2c2f33;
}

.card-news-title {
  color: #ffffff;
}

.user-menu {
  background: #353535;
}

.user-menu-item {
  color: #ffffff;
}

a {
  color: #7289da;
}

.ck.ck-editor {
  color: black;
}
