body {
  background: #1b1f26e0;
  margin: 0;
  color: #ffff;
}
a {
  color: #8e969e;
  text-decoration: none;
  background-color: transparent;
}
.navbar-bg {
  background: #1b1f26cc;
}

.navbar-bg2 {
  background: #1b1f26;
  border-top: 5px solid #262a33;
  border-bottom: 5px solid #262a33;

}

.nav-link2 {
  color: #FFF;
  padding: 10px 40px;
}

.navbar-nav .nav-link2 {
  text-transform: uppercase;
  font-weight: bold;
  line-height: 24px;
  text-align: center;
  display: block;
  position: relative;
}

.navbar-bg2 .navbar-nav .nav-link2.active {
  color: #fff;
  background: #262a33;
}

.page-content {
  padding: 30px;
  min-height: 100vh
}

.sign-in-card {
  background: #7289da;
}

.bonus-card-bg {
  /*background: #3a3a3a;*/
  background: #1b1f26f2;
}

.bonus-card-footer {
  background: #1b1f26f2;
  padding: 20px;
  border-top: 1px solid rgb(45, 50, 58);
}

.bonus-card-pinned {
  margin-bottom: 10px;
  border-top: 0;
  border-right: 0;
  border-left: 0;
  border-bottom: 1px solid #fa9703;
}

.bonus-card {
  margin-bottom: 10px;
  border-bottom: 1px solid #4e54c8;
  border-top: 0;
  border-right: 0;
  border-left: 0;
}

.banner-animated {
  display: inherit;
  -webkit-animation: Banner 10s ease infinite;
  -moz-animation: Banner 10s ease infinite;
  -o-animation: Banner 10s ease infinite;
  animation: Banner 10s ease infinite;
  animation-duration: 10s;
  animation-timing-function: ease;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-fill-mode: none;
  animation-play-state: running;
  animation-name: Banner;
  height: 300px; 
  overflow: hidden; 
  background: linear-gradient(270deg, #EB0000, #95008A, #3300FC); 
  background-size: 600% 600%;
}
#banner {
  position: relative;
  text-align: center;
  color: white;
  margin-bottom: 30px;
}
.page {
  background: #1b1f26e0 !important;
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
  color: #FAFAFA;
  position: relative;
}


.context {
  width: 100%;
  position: absolute;
  top:15vh;
  
}

.area{
  background: #4e54c8;  
  background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);  
  width: 100%;
  height:30vh;
  
 
}

.circles{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.circles li{
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.2);
  animation: animate 25s linear infinite;
  bottom: -150px;
  
}

.circles li:nth-child(1){
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}


.circles li:nth-child(2){
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.circles li:nth-child(3){
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}

.circles li:nth-child(4){
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}

.circles li:nth-child(5){
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}

.circles li:nth-child(6){
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}

.circles li:nth-child(7){
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}

.circles li:nth-child(8){
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}

.circles li:nth-child(9){
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}

.circles li:nth-child(10){
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}



@keyframes animate {

  0%{
      transform: translateY(0) rotate(0deg);
      opacity: 1;
      border-radius: 0;
  }

  100%{
      transform: translateY(-1000px) rotate(720deg);
      opacity: 0;
      border-radius: 50%;
  }

}

.ck.ck-editor {
  color: black
}