body {
  background: #1a1a1b;
  color: #999;
  margin: 0;
  padding: 0;
}

.navbar-bg {
  background: #222;
}

.footer {
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  background: #222;
  padding: 25px;
}

.wrapper {
  margin-top: 50px;
  margin-bottom: 100px;

}

.card-bg {
  background: #222;
  margin-bottom: 25px;
}

.jumbotron-bg {
  background: #222;
}

.card-news-title {
  color: #ffffff;
}

.user-menu {
  background: #353535;
}

.user-menu-item {
  color: #ffffff;
}